@font-face {
  font-family: "FreeMono";
  src: url("assets/FreeMono.woff") format('woff');
}

.font-menu {
  font-size: 1.5em;
}

.content {
    padding: 20px;
    padding-right: 50px;
}

.border-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #d7d3d3;
  border-right: none;
}

.outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: FreeMono;
    height: -webkit-fit-content;
}

.link {
  color: black;
  padding: 15px;
  text-decoration: none;
}

.sidebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
  text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media(min-width: 1000px) {
    .sidebox {
        flex-direction: row;
        justify-content: space-between;
    }

    .list {
        text-align: right;
	display: block;
    }

    .content {
        padding: 2%;
        max-width: 1500px;
        padding-right: 50px;
    }

    .border-box {
        border-top: none;
        border-right: 2px solid #d7d3d3;
    }
}
